ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(42, 40, 44);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(175, 157, 157);
}


.container {
  width: 300px;
  overflow: auto;
}

body{
  font-family: Sans-serif;
  background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(51, 43, 43));
  color: #ffffff;
}

html, body {
  height:100%;
}

.center {
  border: 2px solid rgb(255, 255, 255);
  margin: auto;
  position: relative;
  text-align: center;
  top: 50%;
  width: 50%;  
}